body{
    padding: 0px;
    margin: 0px;
    text-shadow: 0px 0px 0px black;
    font-family: 'Nunito Sans', sans-serif;
    color: rgb(50, 48, 48);
}
#heading{
    margin: 30px 30px 60px 30px;
}
#intro{
    text-shadow: 0px 0px 3px white;
    
}

#hero{
    background-image: url("https://www.delhitourism.gov.in/dttdc/images/About_Bg.jpg");
    background-size: cover;
    background-position: center;
    margin: 0px;
    text-align: center;
    padding: 150px;
}

.learn-more-btn{
    margin: 15px;
    padding: 10px 15px;
    border: 0px;
    background: rgb(83, 192, 235);
    box-shadow: 0px 0px 40px black;
    font-family: inherit;
    font-size: 15px;
}
.img-section{
    display: flex;
    justify-content: space-around;
    margin: 20px 0px;
}
.act-img{
    width: 200px;
    margin: 8px;
    border: 2px solid #ff680a;
    border-radius: 18px;
}
#activities{
    padding: 50px 150px;
}
#about{
    padding: 50px 150px;
}
#guide{
    padding: 50px 150px 200px 150px; 
}

.room{
    background: linear-gradient(#ffcd43, #ff529d, #3c86fd);
}
.guide-img{
    width: 200px;
}

.guide-info{
    background: #b8b8ff;
    display: flex;
    width: 500px;
    justify-content: space-around;
    margin: auto;
    padding: 20px 30px;
    border-bottom: 20px solid #9381ff;
    box-shadow: 0px 0px 50px rgba(7, 30, 145, 0.774);
    border-radius: 25px;
}
.guide-name{
    font-size: 30px;
}
.guide-content{
    font-size: 18px;
    line-height: 35px;
    font-style: italic;
}
.guide-img{
    border: 2px solid #8338ec92;
    border-radius: 50%;
}
.about-content{
    font-size: 20px;
    line-height: 30px;
    word-spacing: 6px;
}
#abt-heading{
    border-bottom: 2px solid black;
}